/* estilo.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #16442d4D;
    color: #4b3f2f; /* Pode ser alterado se necessário */
}

header {
    background-color: #16442d4D; /* Verde 30% */
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: #16442d; /* Verde */
    margin-bottom: 20px;
}

.sobre p, .contato p {
    font-size: 1.1em;
    line-height: 1.6;
}

.beneficios ul {
    list-style: none;
    padding: 0;
}

.beneficios li {
    background-color: #16442d4D; /* Pode ser alterado se necessário */
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #16442d7d; /* Verde 60% */
}

.galeria .produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria .item {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.galeria img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

footer {
    background-color: #16442d4D; /* Cor de areia */
    color: #fff;
    text-align: center;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

form label {
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #16442d4D;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    background-color: #16442d7D; /* Verde 60% */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #16442d4d; /* Verde 40% */
}

.mapa h3 {
    margin-bottom: 10px;
    color: #16442d; /* Verde */
}
